label {
    font-weight: bold;
    margin-right: 10px;
    float: left; 
}

input{
    float: right;
}

.login-form {
    background-color: lightgrey;
    box-shadow: 1px 1px lightslategray;
    width: 275px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.login-btn {
    background-color: green;
    color: white;
    text-align: center;
    margin: 4px 2px;
    padding: 10px;
    border-radius: 5px;

}